@model IEnumerable<PFDC.LolaAppWeb.Models.Treatment>

@{
    ViewBag.Title = "Index";
}

<h2>Tratamientos</h2>

<p>
    @Html.ActionLink("Agregar nuevo tratamiento", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.AmountSession)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DurationSession)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Machine.Description)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>


		<td>
			@Html.DisplayFor(modelItem => item.Description)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.AmountSession)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.DurationSession)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Machine.Description)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
			@Html.ActionLink("Details", "Details", new { id = item.Id }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.Id })
		</td>
	</tr>
}

</table>
