@model IEnumerable<PFDC.LolaAppWeb.Models.FollowupTreatment>

@{
	ViewBag.Title = "Index";
}

<h2>Seguimiento de tratamientos @ViewBag.UserName @ViewBag.UserLastName</h2>

<p>
	@Html.ActionLink("Agregar nuevo tratamiento", "Create", new { idP = @ViewData["IDP"] })
</p>
<table class="table">
	<tr>
		<th>
			@*@Html.DisplayNameFor(model => model.Treatment.Description)*@
			Tratamiento
		</th>
		<th>
			Esteticista
			@*@Html.DisplayNameFor(model => model.User.Name)*@
		</th>
		
		<th>
			Fecha
			@*@Html.DisplayNameFor(model => model.Date)*@
		</th>
		<th>
			Número de sesión
			@*@Html.DisplayNameFor(model => model.SessionNumber)*@
		</th>
		
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Treatment.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.User.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SessionNumber)
			</td>
			<td>
				@Html.ActionLink("Agregar sesion", "session", new { id = item.Id, nsesion = item.SessionNumber, esteticista = item.UserId, tratamiento = item.TreatmentId, paciente = item.PatientId, tnum = item.TrackingNumber }) |
				@Html.ActionLink("Historial", "historialTratamiento", new { nseg = item.TrackingNumber, tratamiento = item.TreatmentId }) |
				@*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
			</td>
		</tr>
	}

</table>
